/* sidebar */
.sidebar {
  width: 375px;
  background-color: #ececec;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

/* Sidebar border */
.sidebar::before {
  content: '';
  position: absolute;
  top: 20px; 
  bottom: 20px; 
  right: 0;
  width: 2px;
  background-color: #dadada; 
}

/* sidebar items */

/* search bar */
.search-bar {
  width: 320px;
  padding: 12px 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

/* clicked Search Bar */
.search-bar:focus {
  border-color: #04548b;
  outline: none;
}

/* Select Location */
.location-dropdown {
  width: 320px;
  padding: 12px 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

/* sidebar buttons */
.card-button-container {
  width: 320px;
  height: 220px;
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

/* New Card/New Deck buttons */
.new-card-button,
.new-deck-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #04548b;
  color: #ffffff;
  border: 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 3px 0px #033f64;
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease,
    background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  gap: 40px;
}

/* New Card/New Deck Hover */
.new-card-button:hover,
.new-deck-button:hover {
  box-shadow: 0 7px 0px #045385;
  transform: translateY(-2px);
  background-color: #047bb3;
}

.new-card-button:active,
.new-deck-button:active {
  transform: translateY(0.1px);
}

/* button images */
.plus_sign, .deck_of_cards {
  width: 50%;
  filter: invert(100%);
}

/* sidebar logo container */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
  gap: 30px;
}

/* sidebar logos */
.logo {
  width: 90%;
  opacity: 0.3;
}
